# Node build artifacts
node_modules
config/database.js
npm-debug.log

# Local development
*.dev

.DS_Store

# Docker
Dockerfile
docker-compose.yml
public/images/products/*
public/images/banners/*
public/images/brands/*
public/images/departments/*
public/images/users/*
public/images/files/*