# Node build artifacts
node_modules
npm-debug.log
package-lock.json
.env
# Local development
*.dev
package-lock.json
.DS_Store

# Docker
Dockerfile
docker-compose.yml
public/images/products/*
public/banners/*
public/images/brands/*
public/images/departments/*
public/images/users/*
public/images/files/*
