
   <div class="modal fade product_view" id="product_view">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img src="" alt="no image" class="img-fluid xproduct-img">
                    </div>
                    <div class="col-md-6 product_content">
                        <h4>Product SKU: <span class="sku"></span></h4>
                        <div class="rating">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            (10 reviews)
                        </div>
                        <p id="description">Description goes here</p>
                        <h3 class="cost"><span class="glyphicon glyphicon-usd"></span> AED <span class="deal-price"></span> <small class="pre-cost"><span class="glyphicon glyphicon-usd"></span> <span class="regular-price"></span></small></h3>
                        <div class="row">
                            
                            <!-- end col -->
                            
                            <!-- end col -->
                            <div class="col-md-12 col-sm-12">
                                <div class="quantity">
                                    <button class="minus-btn xbtn" type="button" name="button">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                    <input type="text" name="name" value="1">
                                    <button class="plus-btn xbtn" type="button" name="button">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                    
                                  </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <div class="space-ten"></div>
                        <div class="btn-ground">
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button>
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
