<html>
    <head>
        <title>
            Agreement
        </title>
    </head>
    <body>
    <p>
        This Contract, executed as of this ______day of _________, 201__, by and between, the
        Office of Hawaiian Affairs (“OHA”), a body corporate under the Constitution of State of
        Hawai‘i, by its Ka Pouhana, Chief Executive Officer (“CEO”) , acting by and on behalf of the
        Board of Trustees, whose principal place of business and mailing address is 560 North Nimitz
        Highway, Suite 200, Honolulu, Hawai‘i 96817, and [NAME OF CONTRACTOR]
        (“CONTRACTOR”), a Hawaii‘ corporation, by its President, whose principal place of business
        and mailing address is [XXXXXX], Honolulu, Hawai‘i 96[XXX], Federal Tax ID No. [99 –
        XXXXXX]
        W I T N E S S E T H:
        WHEREAS, the OHA was established to better the conditions of native Hawaiians and
        Hawaiians as defined Hawaiʻi Revised Statutes (“HRS”) sections 10-2, 10-4(4), 10-4(6) and 10-
        4(8), and other applicable law(s), as amended; and
        WHEREAS, the OHA is in need of services for “Standardization of Job Titles and
        Description of Positions for the Office of Hawaiian Affairs” as described in this Contract and its
        attachments; and
        WHEREAS, the OHA has awarded this Contract through competitive sealed proposals
        submitted for RFP No. HR 2016-09 pursuant to Hawaii Revised Statues as amended and its
        companion Hawai’i Administrative Rules; and
        WHEREAS, the CONTRACTOR has been evaluated as a responsible and
        responsive Offeror whose proposal is advantageous for OHA, such evaluation factors as
        capacity, qualifications, and resources to perform the terms and conditions agreed to under this
        Contract.
    </p>
    </body>
</html>