<!-- Popup model for sign-up -->
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      
 
    <form method="POST" id="registration">
         <div class="modal-content">
           <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>

            <div class="modal-body mx-1">
               <span id="error" class="error-msg" style="display:none"></span>
               
               <div class="form-row">
                  <div class="form-group col-md-6">
                     <label data-error="wrong" data-success="right" for="first_name" >First name</label>
                     <input type="text" id="first_name" class="form-control validate" placeholder="First name" name = "first_name" required>
                  </div>
                  <div class="form-group col-md-6">
                     <label data-error="wrong" data-success="right" for="last_name" >Last name</label>
                     <input type="text" id="last_name" class="form-control validate" placeholder="Last name" name = "last_name">
                  </div>
               </div>

               <div class="form-row">
                  <div class="form-group col-md-6">
                     <label data-error="wrong" data-success="right" for="email" >Email</label>
                     <input type="email" id="email" class="form-control validate" placeholder="Email" name="email">
                  </div>
                  <div class="form-group col-md-6">
                     <!-- <i class="fas fa-envelope prefix grey-text"></i> -->
                     <label data-error="wrong" data-success="right" for="contact_no" >Contact no.</label>

                     <input type="number" id="contact_no" class="form-control validate" placeholder="Contact number" name="contact_no">
                  </div>
               </div>


               <div class="form-row">
                <div class="form-group col-md-6">

                    <label for="gender">Gender</label>
                    <select id="gender" name="gender" class="form-control">
                      <option >Gender...</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="other">Other</option>
                    </select>

                 </div>
               
               <div class="form-group col-md-6">
                  <!-- <i class="fas fa-lock prefix grey-text"></i> -->
                  <label data-error="wrong" data-success="right" for="dob">Date of Birth</label>
                  <input type="date" id="dob" class="form-control validate" name="dob">
               </div>

              </div>


               <div class="form-row">
                    <div class="form-group col-md-12">
                        <!-- <i class="fas fa-lock prefix grey-text"></i> -->
                        <label data-error="wrong" data-success="right" for="password"  >Your password</label>
                        <input type="password" id="password" class="form-control validate" name="password">
                    </div>

                    <div class="form-group col-md-12">
                      <!-- <i class="fas fa-lock prefix grey-text"></i> -->
                      <label data-error="wrong" data-success="right" for="confirm_password">Confirm password</label>
                      <input type="confirm_password" id="confirm_password" class="form-control validate" name="confirm_password">
                   </div>
               </div>
               <small id="emailHelp" class="form-text text-muted">If you are already an user so try to <a data-toggle="modal" data-target="#modalLoginForm" href="#">Login </a></small>

            </div>
            <div class="modal-footer d-flex justify-content-center">
               <button class="btn btn-success">Sign up</button>
            </div>
         </div>
      </form>

   </div>
</div>

<!-- Popup model for Login -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
   
      <form method="POST" id="login">   
            <div class="modal-content">
                  
               <div class="modal-header border-right">
                     <h4 class="modal-title w-100 font-weight-bold">Login</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body mx-1">
                     <span id="loginError" class="error-msg" style="display:none"></span>
                  <div class="form-row">
                     <div class="form-group col-md-12">
                        <!-- <i class="fas fa-envelope prefix grey-text"></i> -->
                        <label data-error="wrong" data-success="right" for="loginEmail">Email</label>
                        <input type="email" id="loginEmail" name="email" class="form-control validate" required>
                     </div>
                     <div class="form-group col-md-12">
                        <!-- <i class="fas fa-lock prefix grey-text"></i> -->
                        <label data-error="wrong" data-success="right" for="loginPass">Password</label>
                        <input type="password" id="loginPass" name="password" class="form-control validate" required>
                     </div>
                     <small id="emailHelp" class="form-text text-muted">If you are new user, please <a data-toggle="modal" data-target="#modalRegisterForm" href="#">Signup</a></small>
                  </div>
                  </div>

                  <div class="modal-footer d-flex justify-content-center">
                     <button class="btn btn-success">Login</button>
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
               </div>
         </form>      

   </div>
</div>

