<nav class="custom-nav navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
       <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
             <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="#">Deals</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="#">Contact us</a>
          </li>
       </ul>
      
       <div class="mx-auto">
          <a href="#" class="text-sm-left text-md-right text-lg-right navbar-brand">
               <img src="<%= process.env.BASE_URL %>/frontend/images/xakkt.png" alt="User Avatar" style="width:25%" class="img-size-50 img-circle mr-3">
            </a>
       </div>
       

       <ul class="navbar-nav ml-auto">
         <li class="nav-item active">
           <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Signup</a>
         </li>
         
         
         <li class="nav-item">
            <img class="img-responsive xakkti" src="<%= process.env.BASE_URL %>/frontend/images/GREY_Cart.png" style="width:10%" alt="">
            <span class='badge badge-warning' id='lblCartCount'> 5 </span>
         </li>
       </ul> 
      
     
    </div>
 </nav>
