<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <script src="/js/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function () {
        var socket = io('https://bikerider.herokuapp.com');
 	       socket.on('trackrider', function(msg){
				 alert(msg)
   		 });

      });
    </script>
    
  </head>
  <body>
    <input type="button" value="button">
  </body>
</html>