<!doctype html>
<html>
  <head>
    <title>check check</title>
    <script src="/js/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
   
    
  </head>
  <body>
    <h1>Hang on guys, coming soon............</h1>
  </body>
</html>