<footer id="dk-footer" class="dk-footer">
  <div class="container-fluid">
     <div class="row">
      <div class="col-md-3 col-lg-3 text-left">
         <div class="contact-info">
            <h3>MENA</h3>
            <p class="address">Business Bay, Dubai, UAE</p>
            <h3>North America</h3>
            <p class="address">Dublin, California, USA</p>
         </div>
        
      </div>
      <div class="col-md-3 col-lg-3 text-left">
         <div class="footer-widget">
            
            <ul>
               <li>
                  <a href="http://xakkt.com" target="_blank">About us</a>
               </li>
               <li>
                  <a href="#">Contact Us</a>
               </li>
               <li>
                  <a href="#">Terms of use</a>
               </li>
               <li>
                  <a href="#">Privacy Policy</a>
               </li>
            </ul>
            
         </div>
         <!-- End Footer info -->
      </div> 
      
      <div class="col-md-3 col-lg-3 text-left">
         <div class="footer-widget">
            
            
         </div>
         <!-- End Footer info -->
      </div> 

      <div class="col-md-3 col-lg-3 text-left">
         <div class="footer-widget">
       
         </div>
         <!-- End Footer info -->
      </div> 
        
        <!-- End Col -->
     
        <!-- End Col -->
     </div>
     <!-- End Widget Row -->
  </div>
  <!-- End Contact Container -->
  <div class="copyright">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <span>Copyright © 2019, All Right Reserved Xakkt</span>
           </div>
           
        </div>
        <!-- End Row -->
     </div>
     <!-- End Copyright Container -->
  </div>
  <!-- End Copyright -->
  <!-- Back to top -->
  <div id="back-to-top" class="back-to-top">
     <button onclick="topFunction()"  class="btn btn-dark" title="Back to Top" style="display: block;">
     <i class="fa fa-angle-up"></i>
     </button>
  </div>
  <!-- End Back to top -->
</footer>

<style>
   .lsname,
.lsproducts {
	cursor: pointer
}

.lsname:hover,
.lsproducts:hover {
	background-color: #a9a9a940;
}

td.lsname.active {
	background-color: #a9a9a9;
}

.footer-widget p {
	margin-bottom: 27px;
}


.dk-footer {
	padding: 15px 0 0;
	background-color: #151414;
	position: relative;
	z-index: 2;
   border-top:2px solid white;
}



.footer-awarad p {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	margin-left: 20px;
	padding-top: 15px;
}

.footer-widget ul {
	width: 50%;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-widget p {
	margin-bottom: 27px;
}

.footer-widget a {
	color: white;
   font-size:17px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}



/* ==========================
  Contact
  =============================*/


.contact-icon {
	position: absolute;
}

.contact-icon i {
	font-size: 36px;
	top: -5px;
	position: relative;
	color: #007bff;
}

.contact-info {
	color: #fff;
   margin-left: 10px;
}

.contact-info h3 {
	font-size: 20px;
	color: #fff;
	margin-bottom: 0;
}

.copyright {
	padding: 10px 0;
	text-align: center;
	/*margin-top: 55px;*/
	background-color: #ffffff;
}

.copyright span,
.copyright a {
	color: #151414;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.copyright a:hover {
	color: #007bff;
}

.copyright-menu ul {
	text-align: right;
	margin: 0;
}

.copyright-menu li {
	display: inline-block;
	padding-left: 20px;
}

.back-to-top {
	position: relative;
	z-index: 2;
}

.back-to-top .btn-dark {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	padding: 0;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: #2e2e2e;
	border-color: #2e2e2e;
	display: none;
	z-index: 999;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
	cursor: pointer;
	background: #FA6742;
	border-color: #FA6742;
}
</style>

<script>
   	function topFunction(){
		jQuery('html,body').animate({scrollTop:0},1000);
	   }
</script>